
* {
    box-sizing: border-box;
}

html, body {
    min-height: 100% !important;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
  background: #24292E;
  color: #a8abad;
  user-select: none;
  font-size: 14px;
  font-family: "Open Sans";
}

.hidden {
  display: none;
}

.content {
  height: 100%;
  display: flex;
}

.split {
  height: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  /* padding: .5em; */
}

.categories {
  width:20%;
}

.inspector-panel {
  width:60%;
}

.secondary-content {
  width:20%;
  display: flex;
  flex-direction: column;
}

.history {
  height:40%;
}

.query {
  height:60%;
}

.category-name {
  padding: .25em 0 .25em .5em;
}

.category-name:hover ,.selected {
  background: #185282;
  color: white;
}

.inspector-panel h1 {
  margin: .8em 0 1.2em 0;
  border-bottom: 2px solid #a8abad;
  font-size: 24px;
}

.inspector {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
