
* {
    box-sizing: border-box;
}

html, body {
    min-height: 100% !important;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
  background: #24292E;
  color: #a8abad;
  user-select: none;
  font-size: 14px;
  font-family: "Open Sans";
}

.hidden {
  display: none;
}

.content {
  height: 98%;
  display: flex;
}

.status-bar {
  height: 2%;
  margin: 0;
  font-size: 12px;
  background: #202428;
}

.split {
  height: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.panel-title {
  background: #333b42;
  margin: 0;
  padding: .5em;
  font-size: 14px;
}

.categories {
  width:20%;
}

.inspector-content {
  width:60%;
}

.inspector-panel {
  height: 80%;
  background: #202428;
}

.console {
  height: 20%;
}

.secondary-content {
  width:20%;
  display: flex;
  flex-direction: column;
}

.history {
  height:40%;
}

.query {
  height:60%;
}

.category-name {
  padding: 1em 0 1em 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #202428;
}

.inspector-category {
  margin: .8em 0 1.2em 0;
  border-bottom: 2px solid #a8abad;
  font-size: 24px;
}

.inspector {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.base-even {
  background: linear-gradient(#282d33, #24292E);
}

.base-odd {
  background: linear-gradient(#262b30, #24292E);
}

.category-name:hover ,.selected {
  background: #185282;
  color: white;
}
