
* {
    box-sizing: border-box;
}

html, body {
    min-height: 100% !important;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

body {
  background: #24292E;
  color: #a8abad;
  user-select: none;
  font-size: 14px;
}

#fullscreen {
  width:      100%;
  height:     100%;
  z-index:    -10;
  top:        0;
  left:       0;
  position:   fixed;
}

.hidden {
  display: none;
}

.content {
  height: 97.5%;
  display: flex;
}

.split {
  height: 100%;
  /* border-top: 1px solid #202428; */
  border-right: 1px solid #202428;
}

.panel-title {
  background: #333b42;
  margin: 0;
  padding: .5em;
  font-size: 14px;
  text-shadow: 2px 2px 4px #FFFFFF22;
}

.categories {
  width:20%;
}

.inspector-content {
  width:60%;
}

.inspector-panel {
  height: 80%;
  background: #202428;
}

.console {
  height: 20%;
  overflow: hidden;
}

.secondary-content {
  width:20%;
  display: flex;
  flex-direction: column;
}

.history {
  height:40%;
}

.query {
  height:60%;
}

.category-name {
  padding: 1em 0 1em 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #202428;
}

.inspector-category {
  margin: .8em 0 1.2em 0;
  border-bottom: 2px solid #a8abad;
  font-size: 24px;
}

.inspector {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.base-even {
  background: linear-gradient(#282d33, #24292E);
}

.base-odd {
  background: linear-gradient(#262b30, #24292E);
}

.category-name:hover ,.selected {
  background: #185282;
  color: white;
}

.status-bar {
  display: table;
  height: 2.5%;
  width: 100%;
  margin: 0;
  padding: 0 1em 0 1em;
  font-size: 12px;
  background: #202428;
}

.status-ok, .status-err {
  font-size: 18px;
  font-weight: bold;
  text-shadow: white 1px 1px 6px;
  position:   fixed;
}

.status-ok {
  color: #99ff99;
}

.status-err {
  color: #ff9999;
}

.status-msg {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2em;
}

.console-content {
  position: relative;
  bottom: 0;
  z-index: -10;
  padding: .5em .3em .5em .3em;
  font-size: 13px;
}

.console-line {
  padding: .25em;
  color: #7a858e;
}

.console-line:hover {
  background: #282d33;
}

.console-ok {
  color: #5ca55c;
}

.console-err {
  color: #d13a3a;
}
